// @import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins');
@import "./mixins.scss";

// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #202020; // On scroll
  // background: #323232;
  padding: 0.8rem 0;

  .nav {
    // background: crimson;
    justify-content: space-between;
    display: flex;
    align-items: center;
    // padding: 0.8rem 0;

    &__logo-container {
      height: 2.5rem;
      // margin: 0.8rem 0;

      img {
        height: 100%;
      }
    }

    &__logo {
      @include Pacifico(2rem);
      // text-decoration: none;
      color: #eeeeee;
    }

    ul {
      // flex: 1;
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        @include Poppins(1.2rem, 500);
        margin-left: 2rem;
        display: inline-block;

        a {
          color: #cccccc;
          text-decoration: none;
          position: relative;

          &:hover {
            color: #eeeeee;
          }

          &.active {
            color: #eeeeee;
            &::after {
              content: "";
              display: block;
              height: 3px;
              width: 100%;
              position: absolute;
              top: 100%;
              background-color: #cccccc;
              z-index: 15;
            }
          }
        }
      }
    }
  }
}

section {
  color: #cccccc;
  min-height: 100vh;
  .section__heading {
    @include Pacifico(2rem);
  }
}

section.about-section {
  height: 100vh;
  background: #323232;
  @include flex("row") {
    justify-content: center;
    align-items: center;
  }
}

section.contact-section {
  height: 100vh;
  background: #323232;
  padding-top: 10rem;
  // @include flex("row") {
  //   justify-content: center;
  //   align-items: center;
  // }

  form {
    // background:purple;
    max-width: 30rem;
    margin: 0 auto;

    label {
      display: block;
      font-size: 1rem;
    }
    
    input {
      display: block;
      width: 100%;
      padding: 0.8rem;
      border-radius: 5px;
      border: 0;
    }
    
    textarea {
      // display: block;
      border: 0;
      border-radius: 5px;
      height: 15rem;
      width: 100%;
      resize: none;
    }
  }
}

section.projects-section {
  background: #323232;
  padding: 3rem 0rem;

  .projects {
    // color: #cccccc;
    @include flex("column") {
      // align-items: center;
      justify-content: space-evenly;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;

      .project-container {
        background: #282828;
        padding-top: 100%;
        position: relative;
        cursor: pointer;
        border-radius: 8px;
        @include transition();
        color: #cccccc;
        text-decoration: none;

        .project {
          position: absolute;
          padding: 1rem;
          height: 100%;
          width: 100%;
          top: 0;
          @include transition();
        }

        &:hover {
          border-radius: 1rem;
          background: grey;

          .project {
            padding: 3rem;
          }
        }
      }
    }
  }
}

footer {
  color: #cccccc;
  background: #202020;
  padding: 1rem 0;
  text-align: center;
}
