@import "./variables.scss";
@import "./mixins.scss";

#root {
  @include flex("column");
  height: 100vh;
  overflow-y: scroll;
  // Added this to stop the content shifting on pages with less content.
}

main {
  flex: 1;
  background: $lightBlack;
}

.primaryButton {
  background: $darkWhite;
  color: $lightBlack;
  padding: 0.6em 1.2em;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  @include Poppins(1rem, 600);

}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: $darkBlack;
  padding: 0.8rem 0;

  .nav {
    justify-content: space-between;
    display: flex;
    align-items: center;

    &__logo-container {
      height: 2.5rem;

      img {
        height: 100%;
      }
    }

    &__logo {
      @include Pacifico(2rem);
      color: $darkWhite;
    }

    ul {
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        @include Poppins(1.2rem, 500);
        margin-left: 2rem;
        display: inline-block;

        a {
          color: $lightWhite;
          text-decoration: none;
          position: relative;

          &:hover {
            color: $darkWhite;
          }

          &.active {
            color: $darkWhite;
            &::after {
              content: "";
              display: block;
              height: 3px;
              width: 100%;
              position: absolute;
              top: 100%;
              background-color: $lightWhite;
              z-index: 15;
            }
          }
        }
      }
    }
  }
}

section {
  padding: 3em 0;
  color: $lightWhite;
  .section__heading {
    @include Pacifico(2rem);
  }
}

section.project-details-section {
  .project__skills {
    display: flex;
    flex-wrap: wrap;
    span {
      padding: 0.4em 0.8em;
      background: $darkBlack;
      border-radius: 5px;
      margin: 0 0.2em 0.2em;
      @include transition();
    }
  }

  .project__links {
    margin-top: 3rem;

    .primaryButton {
      margin-right: 1rem;
    }
  }
}

section.contact-section {
  form {
    max-width: 30rem;
    margin: 3rem auto;

    label {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.6rem;
      font-size: 1.2rem;
    }

    input {
      display: block;
      width: 100%;
      padding: 0.8rem;
      border-radius: 5px;
      border: 0;
      margin-bottom: 0.8rem;
      background: $mediumBlack;
      color: $darkWhite;
      @include Poppins(1rem);
    }

    textarea {
      background: $mediumBlack;
      margin-bottom: 0.8rem;
      color: $darkWhite;
      @include Poppins(1rem);
      padding: 0.8rem;
      border: 0;
      border-radius: 5px;
      height: 15rem;
      width: 100%;
      resize: none;
    }

    .primaryButton {
      width: 100%;
    }
  }
}

section.projects-section {
  background: $lightBlack;

  .projects {
    @include flex("column") {
      justify-content: space-evenly;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;

      @include above(576px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include above(768px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include above(992px) {
        grid-template-columns: repeat(4, 1fr);
      }

      .project-container {
        background: $mediumBlack;
        padding-top: 50%;
        @include above(576px) {
          padding-top: 100%;
        }
        position: relative;
        cursor: pointer;
        border-radius: 8px;
        @include transition();
        color: $lightWhite;
        text-decoration: none;

        &-more {
          background: $darkBlack;
          .project {
            font-size: 1.2rem;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            &:hover {
              padding-bottom: 2rem;
            }
          }
        }

        .project {
          position: absolute;
          padding: 1rem;
          height: 100%;
          width: 100%;
          top: 0;
          @include transition();
          
          &__title {
            font-weight: 600;
            font-size: 1.2rem;
          }
          &:hover {
            padding-top: 2rem;
            span {
              background: $lightBlack;
            }
          }

          &__skills {
            display: flex;
            flex-wrap: wrap;
            span {
              padding: 0.2em 0.4em;
              background: $darkBlack;
              border-radius: 5px;
              margin: 0 0.2em 0.2em;
              @include transition();
            }
          }
        }

        &:hover {
          border-radius: 1rem;
          background: $darkBlack;
        }
      }
    }
  }
}

footer {
  color: $lightWhite;
  background: $darkBlack;
  padding: 1rem 0;
  text-align: center;
}
