@mixin Pacifico($size) {
    font-family: 'Pacifico', cursive;
    font-size: $size;
}

@mixin Poppins($size, $weight: 400) {
    font-family: 'Poppins', sans-serif; 
    font-size: $size;
    font-weight: #{$weight};
}

@mixin flex($direction){
    display: flex;
    flex-direction: #{$direction};
    @content;
}

@mixin transition {
    transition: all ease-in-out .2s;
}

@mixin below($width) {
    @media (max-width: $width) {
      @content;
    }
  }

  @mixin above($width) {
    @media (min-width: $width) {
      @content;
    }
  }